html {
  height: 100%;
}

body {
  background: #8F7BAC;

  
}

.phone:before {
  content: "\2706";
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;

  }
.container {

  width: 700px;
  
  padding-top: 20px;
  margin: 0 auto;
}

.container-narrow {
        margin: 0 auto;
        max-width: 800px;
        background: #FFFFFF;
        padding: 15px;

      }

.pagedesign {
  background-color: #E1C490;
  border: 10px solid #A0752A;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;

}
.why-webdesign {
  background-color: #9dd4a0;
  border: 10px solid #2b5331;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
}

.web-services {
  background-color: #bfd1e4;
  border: 10px solid #2563a5;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;

}

#marketing {
  text-align: left;
  background-color: #fff;
  font-family: Port Ligat Slab;
  font-size: 28px;
  padding: 10px;
  line-height: 28px;
  font-weight: bold;
  margin: 3em auto;
  box-shadow: 0 20px 30px -10px #2b5331;
}

#marketing1 {
  text-align:center;
  background-color: #fff;
  font-family: Port Ligat Slab;
  font-size: 28px;
  padding: 20px;
  line-height: 28px;
  font-weight: bold;
  margin: 3em auto;
  box-shadow: 0 20px 30px -10px #2b5331;
}

 
.intro {
  padding: 15px;
}

       
 .touch {
  font-size: 1.5em;
  line-height: 30px;
  font-weight: bold;
 }      

 

h3 {
  text-align: center;

  }

  .navbar, .navbar-inner{
    background: #533885;
    
  }

.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: #A192BC;
  color: #000;
} 
.navbar .active  a {
  background-color: #A192BC;
  color: #000;
}



a:hover, a:active {
  background-color: #000;
}
.btn {
  
  background-color: #619E60;
  color: #FAF3BC;
  background: #263 url('img/texture.png') no-repeat right top;
  padding: 10px 25px;
  margin: 0px 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-transform: uppercase;

}

em{
  font-size: 1.5em;

}

.form-signin-heading {

  text-align: center;
}

.low-cost-web-site{
  width:800;
  padding: 5px;
  margin: 20px;
  
}

.btn {
  color: #FAF3BC;
  background: #4FB69F;
  padding: 15px 30px;
  margin: 20px 0px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  text-transform: uppercase;
}


.footer {
  padding: 25px;
  background: #422C6A;
  color: #FFFFFF;


}

p {
  text-align: justify;
}



.portfolio {
  border: 5px solid #422C6A;
}

.hire {
  
  width:250px;
  padding: 0px;
  border:5px solid gray;
  margin: 5px;
}

/* contact Form */
 input[type=text], textarea {
  width: 80%;
  background-color: #faf3bc;
  color: #333;

 }

 input, textarea,  {
  padding: 1%;
  border: 0;
  border-radius: 15px;
 }

textarea {
  height: 150px;
}



